---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cristian Portfolio | Resume">
  <div class="resume flex-col w-full" data-page="resume">
    <h1 class="title pb-[20px] text-[32px] mb-[20px] font-bold w-fit relative mt-5">
      Resume
    </h1>
    <ol class="relative border-l-[1.25px] border-jet left-5">
      <li class="mb-10 ms-6">
        <span
          class="absolute flex items-center justify-center w-10 h-10 bg-tertiaty rounded-lg -start-[21px] -top-[5px] bg-onyx border-jet border-[1px]">
          <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->

          <svg
            class="w-5 h-5"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            viewBox="0.00 0.00 48.00 48.00">
            <path
              fill="#F0ECE5"
              d="
            M 9.91 43.62
            A 3.22 3.21 62.4 0 0 11.75 44.20
            L 41.72 44.20
            Q 42.25 44.20 42.25 44.73
            L 42.24 45.55
            Q 42.24 46.04 41.76 46.04
            Q 27.36 45.97 12.33 46.04
            C 8.81 46.06 5.82 44.37 5.80 40.43
            Q 5.72 23.56 5.77 8.10
            C 5.79 4.39 8.27 1.94 11.81 1.95
            Q 27.26 2.02 41.68 1.97
            Q 42.24 1.97 42.24 2.53
            L 42.24 37.24
            A 0.23 0.22 -0.0 0 1 42.01 37.46
            L 11.51 37.47
            A 3.19 3.12 -58.2 0 0 10.05 37.83
            Q 5.28 40.37 9.91 43.62
            Z
            M 35.53 10.14
            A 0.61 0.61 0.0 0 0 34.92 9.53
            L 14.04 9.53
            A 0.61 0.61 0.0 0 0 13.43 10.14
            L 13.43 14.76
            A 0.61 0.61 0.0 0 0 14.04 15.37
            L 34.92 15.37
            A 0.61 0.61 0.0 0 0 35.53 14.76
            L 35.53 10.14
            Z"
            ></path>
          </svg>
        </span>
        <p class="flex items-center text-lg font-semibold ml-2 text-white">
          Education
        </p>
      </li>

      <li class="mb-10 ms-6">
          <span
            class="absolute w-3 h-3 bg-orange-yellow-crayola rounded-full  ring-4 top-[77px] -start-[6.7px] ring-jet">
          </span>
        <h3 class="flex items-center mb-1 text-sm font-semibold text-white">
          University<span
            class="bg-jet text-orange-yellow-crayola text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3"
            >Latest</span>
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >2020 - Currently</time
        >
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
          Electronic Engineering - Surcolombian University.
        </p>
      </li>

      <li class="mb-10 ms-6">
        <span
          class="absolute flex items-center justify-center w-3 h-3 bg-orange-yellow-crayola rounded-full -start-[6.7px] top-[188px] top-17 ring-4 ring-jet">
        </span>
        <h3
          class="flex items-center mb-1 text-sm font-semibold text-white dark:text-white">
          High School
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >2014 - 2019</time
        >
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
          Anglocanadian School.
        </p>
      </li>

      <li class="mb-10 ms-6">
        <span
          class="absolute flex items-center justify-center w-3 h-3 bg-orange-yellow-crayola rounded-full -start-[6.7px] top-[296px] top-17 ring-4 ring-jet">
        </span>
        <h3
          class="flex items-center mb-1 text-sm font-semibold text-white dark:text-white">
          Elementary School
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >2006 - 2013</time>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
          Anglocanadian School.
        </p>
      </li>
    </ol>

    <ol class="relative border-l-[1.25px] border-jet left-5">
      <li class="mb-10 ms-6">
        <span
          class="absolute flex items-center justify-center w-10 h-10 bg-onyx rounded-lg -start-[21px] -top-[5px] border-jet border-[1px]">
          <svg
            class="w-5 h-5"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0,0,256,256"
            width="48px"
            height="48px"
            ><g
              fill="#F0ECE5"
              fill-rule="nonzero"
              stroke="none"
              stroke-width="1"
              stroke-linecap="butt"
              stroke-linejoin="miter"
              stroke-miterlimit="10"
              stroke-dasharray=""
              stroke-dashoffset="0"
              font-family="none"
              font-weight="none"
              font-size="none"
              text-anchor="none"
              style="mix-blend-mode: normal"
              ><g transform="scale(5.12,5.12)"
                ><path
                  d="M20,3c-1.64453,0 -3,1.35547 -3,3v3h-14c-1.65234,0 -3,1.34766 -3,3v13c0,1.65234 1.34766,3 3,3h44c1.65234,0 3,-1.34766 3,-3v-13c0,-1.65234 -1.34766,-3 -3,-3h-14v-3c0,-1.64453 -1.35547,-3 -3,-3zM20,5h10c0.5625,0 1,0.4375 1,1v3h-12v-3c0,-0.5625 0.4375,-1 1,-1zM25,22c1.10547,0 2,0.89453 2,2c0,1.10547 -0.89453,2 -2,2c-1.10547,0 -2,-0.89453 -2,-2c0,-1.10547 0.89453,-2 2,-2zM0,27v17c0,1.65234 1.34766,3 3,3h44c1.65234,0 3,-1.34766 3,-3v-17c0,1.65234 -1.34766,3 -3,3h-44c-1.65234,0 -3,-1.34766 -3,-3z"
                ></path></g
              ></g
            ></svg
          >
        </span>
        <p class="flex items-center text-lg font-semibold text-white ml-2">
          Experience
        </p>
      </li>

      <li class="mb-10 ms-6">
        <span
          class="absolute flex items-center justify-center w-3 h-3 bg-orange-yellow-crayola rounded-full -start-[6.7px] top-[74px] top-17 ring-4 ring-jet">
        </span>
        <h3
          class="flex items-center mb-1 text-sm font-semibold text-white dark:text-white">
          Surcolombian University.<span
            class="bg-jet text-orange-yellow-crayola text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3"
            >Latest</span>
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >2024 - Currently</time
        >
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
          Analog Matter Monitor 1.
        </p>
      </li>
    </ol>

    <div>
      <h3 class="text-xl">My Skills</h3>
      <div
        class="flex flex-col bg-tertiaty w-full h-fit justify-center rounded-xl mt-8">
        <div class="flex flex-row justify-center p-4">
          <img class="h-10 w-10" src="/assets/icons/html.svg" alt="Html Icon" />
          <img
            class="h-10 w-10"
            src="/assets/icons/css.svg"
            alt="Github Icon"
          />
          <img class="h-10 w-10" src="/assets/icons/js.svg" alt="Github Icon" />
          <img
            class="h-10 w-10"
            src="/assets/icons/python.svg"
            alt="Github Icon"
          />
          <img
            class="h-10 w-10"
            src="/assets/icons/git.svg"
            alt="Github Icon"
          />
          <img
            class="h-10 w-10"
            src="/assets/icons/github.svg"
            alt="Github Icon"
          />
        </div>
        <div class="flex flex-row justify-center p-4">
          <img
            class="h-10 w-10"
            src="/assets/icons/arduino.svg"
            alt="Html Icon"
          />
          <img
            class="h-10 w-10"
            src="/assets/icons/multisim.svg"
            alt="Github Icon"
          />
          <img
            class="h-10 w-10"
            src="/assets/icons/matlab.svg"
            alt="Github Icon"
          />
          <img
            class="h-10 w-10"
            src="/assets/icons/raspberry-pi.svg"
            alt="Github Icon"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .title::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: hsl(45, 100%, 72%);
    border-radius: 3px;
  }
</style>
