<nav transition:persist class="bg-onyx border-[1.25px] border-jet absolute bottom-auto lg:left-auto right-0 top-0 rounded-bl-3xl rounded-tr-3xl">
    <div class="flex flex-row font-semibold text-center gap-5 p-2">
        <button class="text-vegas-gold hover:text-vegas-gold cursor-pointer text-sm ml-4" nav-bar-button><a href="/">About me</a></button>
        <button class="hover:text-vegas-gold cursor-pointer text-sm" nav-bar-button><a href="/resume">Resume</a></button>
        <button class="hover:text-vegas-gold cursor-pointer text-sm mr-4" nav-bar-button><a href="/projects">Projects</a></button>
    </div>
</nav>

<script is:inline>
	const filterButtons = document.querySelectorAll('[nav-bar-button]');
        filterButtons.forEach(button => {
            button.addEventListener("click", (e) => {
                filterButtons.forEach(otherButton => {
                    otherButton !== button ? otherButton.classList.remove("text-vegas-gold") : button.classList.add("text-vegas-gold") 
                });
            })
        })
</script>